#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo .photo_header {
  padding: 15px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.photo {
  margin-bottom: 40px;
}
.photo_header {
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.photo_header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px

}
.photo img{
  max-width: 100%;
}

.photo_info {
  padding: 18px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.photo_info .photo_actions {
  font-size: 24px;
  display: flex;
  margin-bottom: 10px;
}

.photo_actions .photo_action {
  margin-right: 15px;
  display: block;
  cursor: pointer;
}

.photo_info .photo_likes {
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

.photo_comment .photo_comment-author {
  font-weight: 600;
}

.photo_info .photo_data {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}

.photo_info .photo_add-comment-container {
  margin-top: 15px;
  width: 100%;
  border-top: 1px solide rgba(0, 0, 0, .0975);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo_add-comment-container textarea {
  border: 0;
  resize: none;
  width: 95%;
  min-height: 15px;
  padding: 15px 0;
  padding-bottom: 0;
  font-size: 14px;
}

.photo_add-comment-container textarea:focus {
  outline: none;
}

.photo_add-comment-container i {
  cursor: pointer;
}


.heart-clicked {
  color: red;
  animation: .5s pump infinite linear ;
}
