footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  flex-wrap: wrap;
  margin-bottom: 55px;

}
footer .footer_list {
  display: flex;

}
.footer_list .footer_item{
  margin-right: 10px;

}

footer .footer_copyright {
  color:#999;
}
.footer_item .footer_link {
  color: #003569;

}
