
body {
  background: #fafafa;
  font-family:'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
.user{
  width: 100%;
  max-width: 600px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.975);
  border-radius: 3px;
}
