.navigation {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
}
.navigation input {
  width: 215px;
  padding: 5px 10px;
  border: 0;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
  font-size: 14px;


}


.navigation input:focus {
  outline: none;
  background: white;
}

.navigation .navigation_links {
  display: flex;
  justify-content: flex-end;

}
.navigation_links .navigation_link {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  margin-left: 20px;
}
